﻿*/ 
This file contains styles that are NTB specific
*/

div#picturearea 
{
    
}

div#formarea 
{
    
}

.space 
{
    margin-top: 10px;
}

.editrow {
    background-color: #a0a0a0;
}

a:link, a:active, a:visited, a:hover {
    text-decoration: none;
}