﻿@model List<ElectionCandidates.Classes.Candidate>
@{
    ViewBag.Title = "GetSelectedStatistics";
}

<h2>Hent ut valgt statistikk</h2>
<form method="POST" action="/JournalistTools/GetSelectedStatistics">
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Navn</th>
                <th>Parti</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">
                    <input type="checkbox" name="gender"/>Kjønnsfordeling i Stortinget<br/>
                    <input type="checkbox" name="age"/>Gjennomsnittsalder på Stortinget<br/>
                    <input type="checkbox" name="social"/>Sosiale medier på Stortinget<br/>
                    <input type="checkbox" name="profession"/>Yrker<br/>
                    <input type="checkbox" name="counties"/>Fylkesoversikt<br/>
                    <input type="checkbox" name="agestair"/>Alderstrapp<br/>
                    <input type="submit" value="Lag statistikk"/>&nbsp;&nbsp;
                    <input type="reset" name="Tøm"/>
                </td>
            </tr>
        </tfoot>
        <tbody>
            @{
                foreach (ElectionCandidates.Classes.Candidate candidate in Model)
                {
                    <tr>
                        <td><input type="checkbox" name="candidateId[]" value="@candidate.CandidateId"/></td>
                        <td>@candidate.FirstName @candidate.LastName</td>
                        <td>@candidate.PoliticalParty</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>