﻿@{
    ViewBag.Title = "Index";
}

<h2>Journalistiske verktøy</h2>
<ul>
    <li>
        @Html.ActionLink("Hent ut statistikk på valgte representanter", "GetSelectedStatistics", "JournalistTools")        
    </li>
<!--
    <li>
        @Html.ActionLink("Hent ut statistikk for dagens storting", "GetSelectedStatisticsFromParliament", "JournalistTools")        
    </li>
    -->
</ul>