﻿@using ElectionCandidates.Classes
@model List<List<Statistic>>
@{
    ViewBag.Title = "ShowStatistics";
}

<h2>ShowStatistics</h2>

@{
    foreach (List<Statistic> statistics in Model)
    {
        <table>
        
            <thead>
                <tr>
                    <th>Tekst</th>
                    <th>Verdi</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
            </tfoot>
            <tbody>
        @foreach (Statistic statistic in statistics)
                {
                    <tr>
                        <td>@statistic.Name</td>
                        <td>@statistic.Value</td>
                    </tr>
                }
            </tbody>
        
        </table>
    }
}