﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/960.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/960_16.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/text.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.8.24.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ntb.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ntb.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <a href="/Home"><h1>NTB Valg Senter</h1></a>
            </div>
            <div id="logindisplay">
                <!-- @Html.Partial("_LogOnPartial") -->
                <br/> <!-- remove this line if we are to support login -->
            </div>
            <nav>
                <ul id="menu">
                    
                    <li>@Html.ActionLink("Valg", "Index", "Candidate")</li>
                    @{
                        string electionCandidatesLink = "Index";
                        if (Session["Year"] != null && (int)Session["Year"] > 0)
                        {                            
                            <li>@Html.ActionLink("Valg representanter", "ListCandidates", "Candidate")</li>
                        }
                    }
                    <li>@Html.ActionLink("Journalistiske Verktøy", "Index", "JournalistTools")</li>
                    <li>@Html.ActionLink("Verktøy", "Index", "Tools")</li>
                    <li>@Html.ActionLink("Hjem", "Index", "Home")</li>
                    <li>@Html.ActionLink("Om", "About", "Home")</li>
                    
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html >
</script>