﻿@if(Request.IsAuthenticated) {
    <text>Welcome 
    @{
         FormsIdentity ident = User.Identity as FormsIdentity;
         int userId = 0;
         string ClientName = "";
         if (ident != null) {
             FormsAuthenticationTicket ticket = ident.Ticket;
             
             string userDataString = ticket.UserData;
             
             string[] userDataPieces = userDataString.Split("|".ToCharArray());
             
             userId = Convert.ToInt32(userDataPieces[1]);
             
             ClientName = userDataPieces[0];
         }
     }
    <a href="/Account/Show?id=@userId">@ClientName</a>!
    [ @Html.ActionLink("Log Off", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Log On", "LogOn", "Account") ]
}
