﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Det har skjedd en feil!
</h2>
<div>
    Vennligst ta kontakt med utvikler <a href="mailto:thu@ntb.no?subject=feil på ValgSenter">Trond Husø</a><br/>
    Dersom det er svært viktig: 450 35 715<br/>
    
    <div id="Feilmelding">
        <h3>Feilmelding:</h3>
        @{
            if (Model != null)
         {
            <p>@Model.Exception.Message</p>
            <p>@Model.Exception.StackTrace</p><br/>      
         
        <p>
            ActionName: @Model.ActionName
        </p>
             <p>
                 ControllerName: @Model.ControllerName
             </p>
         }
        }
    </div>
    
</div>
