﻿@{
    ViewBag.Title = "AddParliamentPeriods";
}

<h2>Hent Stortingsperioder</h2>
<span>Ved å trykke på <a href="GetParliamentPeriods">denne</a> linken går vi til data.stortinget.no for å hente stortingsperioder.</span><br/>
