﻿@using ElectionCandidates.Classes
@model List<Candidate>

@{
    ViewBag.Title = "CheckAndUploadCandidatePicture";
}

<h2>CheckAndUploadCandidatePicture</h2>

<table>
<thead>
<tr>
    <th style="width: 200px;">Navn</th>
    <th style="width: 200px;">Parti</th>
    <th style="width: 200px;">Fylke</th>
    <th style="width: 100px;">Bilde</th>
</tr>
</thead>
    <tbody>
        @{
        foreach (Candidate representant in Model)
        {
        var repid = "rep" + representant.CandidateId;
        var dialog = "dialog" + representant.CandidateId;
        var slette = "Slette " + representant.FirstName + " " + representant.LastName;

        var partyCode = representant.PoliticalPartyCode;
        
        <tr>
            <td>@representant.FirstName @representant.LastName</td>
            <td>@representant.PoliticalParty (@partyCode)</td>
            <td>@representant.County</td>
            <td>
                @{
                    if (representant.Picture != null)
                    {
                        string serverPath = Server.MapPath(Url.Content("~/Content/picturecheck/"));
                        string[] fileparts = representant.Picture.Split('_');
                        string path = serverPath + fileparts[0] + @"\" + fileparts[1] + @"\" + representant.Picture.Replace("_org.png", "_org200.png");
                        FileInfo fileInfo = new FileInfo(path);
                        if (!fileInfo.Exists)
                        {
                            <span>Bilde mangler!</span>
                        }
                    }
                }
            </td>
        </tr>
        }
        }
    </tbody>
</table>