﻿@model List<ElectionCandidates.Classes.Candidate>

@{
    ViewBag.Title = "CheckCandidatePicture";
}

<h2>CheckCandidatePicture</h2>
<table>
    <thead>
        <tr>
            <th>Navn</th>
            <th>Bilde</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (ElectionCandidates.Classes.Candidate candidate in Model)
            {
                <tr>
                    <td>@candidate.FirstName @candidate.LastName</td>
                    <td>@candidate.Picture</td>
                </tr>
            }
        }
    </tbody>
</table>
