﻿@using ElectionCandidates.Classes
@model List<Candidate>

@{
    ViewBag.Title = "CheckCurrentCandidates";

    List<Candidate> currentCandidates = (List<Candidate>)this.Session["CurrentCandidates"];
    
}

<h2>CurrentCandidates</h2>
<span>Antall kandidater i XML: @currentCandidates.Count()</span>
<table style="border: 1px solid #dddddd;">
    <thead>
        <tr>
            <th>Representant</th>
            <th>Fødselsdato</th>
            <th>Stortingsperioder</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Candidate candidate in Model)
            {
                <tr>
                    <td>@candidate.FirstName @candidate.LastName</td>
                    <td>@candidate.BirthDate</td>
                    <td>
                        @{
                            if (candidate.ParliamentPeriods != null)
                            {
                                foreach (ParliamentPeriod parliamentPeriod in candidate.ParliamentPeriods)
                                {
                                    @parliamentPeriod.ParliamentPeriodId
                                    
                                    <br />
                                }
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr style="background-color:gray">
            <td colspan="3">
                @Html.ActionLink("Oppdater data", "UpdateCheckedCurrentCandidates", "Tools")  
            </td>
        </tr>
    </tfoot>
</table>