﻿@using ElectionCandidates.Classes
@model List<Candidate>


<span>Antall kandidater i XML: @Model.Count()</span>
<table style="border: 1px solid #dddddd;">
    <thead>
        <tr>
            <th>Representant</th>
            <th>Parti</th>
            <th>Stortingsperiode</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (Candidate candidate in Model)
            {
                <tr>
                    <td>@candidate.FirstName @candidate.LastName</td>
                    <td>@candidate.PoliticalParty</td>
                    <td>@candidate.ParliamentPeriods[0].ParliamentPeriodId</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr style="background-color:gray">
            <td colspan="3">&nbsp;</td>
        </tr>
    </tfoot>
</table>