﻿@{
    ViewBag.Title = "Index";
}

<h2>Verktøy</h2>
<ul>
    <li>
        @Html.ActionLink("Legg inn Stortingsperioder", "AddParliamentPeriods", "Tools")        
    </li>
    <li>
        @Html.ActionLink("Sjekk dagens storting mot database", "CheckCurrentCandidates", "Tools")        
    </li>
    <li>
        @Html.ActionLink("Hent dagens storting", "GetCurrentParliamentMembers", "Tools")        
    </li>
    <li>
        @Html.ActionLink("Sjekk om representanten har bilde", "CheckCandidatePicture", "Tools")
    </li>
    <li>
        @Html.ActionLink("Sjekk og last opp behandlede bilder", "CheckAndUploadCandidatePicture", "Tools")
    </li>
</ul>