﻿@model ElectionCandidates.Classes.Client

@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.ClientName</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Edit @Model.ClientName</legend>
        <div>
        <label for="ClientName" class="editor-label">Klient</label><br />
        <input type="text" name="ClientName" value="@Model.ClientName" class="editor-field"/>


        </div>
        
        <div>
        <label for="ClientUrl" class="editor-label">Hjemmeside</label><br />
        <input type="text" name="ClientUrl" value="@Model.ClientUrl" class="editor-field"/>
        </div>
        
        <div>
        <label for="ClientContactPerson" class="editor-label">Kontakt person</label><br />
        <input type="text" name="ClientContactPerson" value="@Model.ClientContact" class="editor-field"/>
        </div>
        
        <div>
        <label for="ClientContactPersonEmail" class="editor-label">Epost Kontakt person</label><br />
        <input type="text" name="ClientContactPersonEmail" value="@Model.ClientContactEmail" class="editor-field"/>
        </div>

        <div>
        <label for="ClientPublishMethod" class="editor-label">Publiseringsmetode</label><br />
        <input type="text" name="ClientPublishMethod" value="@Model.PublishMethod" class="editor-field"/>
        </div>

        @{
    if (@Model.CSS.Length > 0)
    {
                <a href="Account/ChangeCSS?id=@Model.ClientId">Endre Stilark</a>
    }
    else
    {
        <a href="Account/ChangeCSS?id=@Model.ClientId">Legg til Stilark</a>
    }
}


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
