﻿@model ElectionCandidates.Classes.Client

<h2>@Model.ClientName</h2>
<span class="label">Kontaktperson: </span><span id="contact" class="content"><a href="mailto:@Model.ClientContactEmail">@Model.ClientContact</a></span>
<span class="label">Webside: </span><span class="content"><a href="http://@Model.ClientUrl">@Model.ClientUrl</a></span>

<span class="links"><a href="/Account/Edit?id=@Model.ClientId">Endre</a></span>
<span class="links"><a href="/Account/Delete?id=@Model.ClientId">Slette</a></span>

