﻿@{
    ViewBag.Title = "About Us";
}

<div id="mainText">
<h2>Om NTB Valg Senter</h2>
<p>
    Dette er en webside hvor vi samler flere verktøy relatert til valg. <br/>
    Den er i utgangspunktet ment som et internt verktøy for journalister i NTB.<br/>
</p>
</div>
<div id="versions">
    <h3>Versjoner</h3>
    <p>1.0: Første versjon - har støtte for å legge inn informasjon om representanter som skal delta i kommende valg.</p>
</div>
