﻿@{
    ViewBag.Title = "Home Page";
}

<h2>Velkommen til NTB Valg Senter</h2>
<p>
    Dette er en webside hvor vi samler flere verktøy relatert til valg. <br/>
    Den er i utgangspunktet ment som et internt verktøy for journalister i NTB.<br/>
</p>
