﻿@using ElectionCandidates.Classes
@using ElectionCandidates.Models
@model List<CandidateData>
@{
    if (Model.Any())
    {
        string rowEdit = Model[0].CandidateId.ToString();
        string formAddCandidateElectionData = "AddElectionData" + Model[0].CandidateId;
        string formAddCandidateElectionDataName = "form" + Model[0].CandidateId;
        string formHiddenCandidateId = "addCandidateId" + Model[0].CandidateId;
        string addFormFylke = "addcounty" + Model[0].CandidateId;
        string addFormPosition = "addposition" + Model[0].CandidateId;
        string addFormElectionYear = "addelectionYear" + Model[0].CandidateId;


        CountyModels countyModels = new CountyModels();



        <tr class="addrow" id="@rowEdit">
            <td colspan="4">
                <form action="/Candidate/AddElectionData/@Model[0].CandidateId" 
                      method="post" 
                      id="@formAddCandidateElectionData" 
                      class="AddElectionData" 
                      name="@formAddCandidateElectionDataName">
                    <input type="hidden" name="@formHiddenCandidateId" value="@Model[0].CandidateId"/>
                    <table>
                        <tr>
                            <td class="grid_6">
                                <select name="@addFormFylke" class="grid_4">
                                    @{
                                        foreach (County county in countyModels.GetCounties())
                                        {
                                            <option value="@county.CountyId">@county.CountyName</option>

                                        }
                                    }
                                </select>
                            </td>
                            <td class="grid_2">
                                <input type="text" name="@addFormPosition" class="grid_1"/>
                            </td>
                            <td class="grid_2">
                                <input type="text" name="@addFormElectionYear" class="grid_1"/>
                            </td>
                            <td colspan="2" class="grid_3">
                                <input type="submit" value="Legg til" />&nbsp;<input type="reset" value="Lukk" />
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
        foreach (CandidateData candidateData in Model)
        {
            string editId = "edit" + candidateData.ElectionYear;
            string deleteId = "delete" + candidateData.ElectionYear;
            string formEditCandidateElectionData = "ChangeElectionData" + candidateData.ElectionYear;
            string formChangeCandidateElectionDataName = "form" + candidateData.ElectionYear;
            string formFylke = "county" + candidateData.ElectionYear;
            string formPosition = "position" + candidateData.ElectionYear;
            string formElectionYear = "electionYear" + candidateData.ElectionYear;
            string formHiddenCandidateYearId = "year" + candidateData.ElectionYear;
            <tr>
                <td class="grid_5">
                    @candidateData.CountyName
                </td>
                <td class="grid_2">
                    @candidateData.Position
                </td>
                <td class="grid_2">
                    @candidateData.ElectionYear
                </td>
                <td class="grid_2">
                    <a href="/Candidate/EditElection/@candidateData.CandidateId?ElectionYear=@candidateData.ElectionYear" id="@editId" rel="@candidateData.ElectionYear" class="editCandidate">
                        Endre</a>
                </td>
                <td class="grid_2">
                    <a href="/Candidate/DeleteElection/@candidateData.CandidateId?ElectionYear=@candidateData.ElectionYear" 
                       id="@deleteId" rel="@rowEdit" class="deleteCandidate">Slette</a>
                </td>
            </tr>
            <tr class="editrow" id="@candidateData.ElectionYear">
                <td colspan="4">
                    <form action="/Candidate/ChangeElectionData/@candidateData.CandidateId?electionYear=@candidateData.ElectionYear" 
                          method="post" 
                          id="@formEditCandidateElectionData" 
                          class="ChangeElectionData" 
                          name="@formEditCandidateElectionData">
                        <input type="hidden" name="@formHiddenCandidateId" value="@candidateData.CandidateId"/>
                        <input type="hidden" name="@formHiddenCandidateYearId" value="@candidateData.ElectionYear"/>
                        <table>
                            <tr>
                                <td class="grid_6">
                                    <select name="@formFylke" class="grid_4">
                                        @{
                                            foreach (County county in countyModels.GetCounties())
                                            {
                                                <option value="@county.CountyId">@county.CountyName</option>

                                            }
                                        }
                                    </select>
                                </td>
                                <td class="grid_2">
                                    <input type="text" name="@formPosition" value="@candidateData.Position" class="grid_1"/>
                                </td>
                                <td class="grid_2">
                                    <input type="text" name="@formElectionYear" value="@candidateData.ElectionYear" class="grid_1"/>
                                </td>
                                <td colspan="2" class="grid_3">
                                    <input type="submit" value="Endre" />&nbsp;<input type="reset" value="Lukk" />
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        }
    }
}
