﻿@using ElectionCandidates.Classes
@using ElectionCandidates.Models
@using ElectionCandidates.Models.DataModels
@{
    ViewBag.Title = "Create";

    GenderModels genderModels = new GenderModels();

    PartiModels partiModels = new PartiModels();

    KommuneModels kommuneModels = new KommuneModels();

    ProfessionModels professionModels = new ProfessionModels();

    SocialConnectionModel socialConnectionModel = new SocialConnectionModel();

    CountyModels countyModels = new CountyModels();    
    
    ParliamentDataModel parliamentDataModel = new ParliamentDataModel();
    
}
<h2>
    Create</h2>
<fieldset class="container_16">
    <form method="post" action="/Candidate/Create/" enctype="multipart/form-data">
    <legend>Edit</legend>
    <div id="formarea" class="grid_10">
        <label for="Firstname" class="grid_2">Fornavn:</label>
        <input name="Firstname" class="grid_5" />
        <div class="clear"></div>
        <div class="space"></div>

        <label for="Lastname" class="grid_2">Etternavn:</label>
        <input name="Lastname" class="grid_5" />
        <div class="clear"></div>
        <div class="space"></div>
        
        <label for="Email" class="grid_2">E-post:</label>
        <input name="Email" class="grid_5" />
        <div class="clear"></div>
        <div class="space"></div>
        
        <label for="BirthDate" class="grid_2">Fødselsdato:</label>
        <input name="BirthDate" class="grid_5" />
        <div class="clear"></div>
        <div class="space"></div>

        <label for="Age" class="grid_2">Alder:</label>
        <input name="Age" class="grid_5" />
        <div class="clear"></div>
        <div class="space"></div>

        <label for="HomeCity" class="grid_2">Hjemby:</label>
        <input name="HomeCity" class="grid_5" />
        <div class="clear"></div>
        <div class="space"></div>

        <label for="Gender" class="grid_2">Kjønn:</label>
        <select name="Gender" class="grid_3">
            @foreach (Gender gender in genderModels.GetGenders())
            {
                <option value="@gender.GenderId">@gender.GenderName</option>
            }
        </select>
        <div class="clear"></div>
        <div class="space"></div>

        <label for="PoliticalParty" class="grid_2">
            Politisk parti:</label>
        <select name="PoliticalParty" class="grid_3">
            @foreach (Parti parti in partiModels.GetParties((int)Session["Year"]))
            {
                <option value="@parti.Code">@parti.Name</option>
            }
        </select>
        <div class="clear">
        </div>
        <div class="space">
        </div>
        <label for="Kommune" class="grid_2">
            Bostedskommune:</label>
        <select name="Kommune" class="grid_3">
            @{
                foreach (Kommune kommune in kommuneModels.GetKommuner())
                {
                    string krets = "";
                    if (@kommune.KretsId > 0)
                    {
                        krets = "(" + kommune.KretsId + ")";
                    }
                        
                <option value="@kommune.KommuneId">@kommune.KommuneNavn @krets</option>
                }
            }
        </select>
        <div class="clear">
        </div>
        <div class="space">
        </div>
        <label for="Professions" class="grid_2">
            Yrke</label>
        <select name="Professions" class="grid_5">
            @foreach (Profession profession in professionModels.GetProfessions())
            {
                <option value="@profession.ProfessionId">@profession.ProfessionName</option>
            }
        </select>
        <div class="clear"></div>
        <div class="space"></div>
        
        <fieldset>
            <legend>Stortingsperioder</legend>
            <ul>
                @foreach (ParliamentPeriod parliamentPeriod in parliamentDataModel.GetParliamentPeriods())
                {
                    <li>
                        <label>Stortingsperiode @parliamentPeriod.ParliamentPeriodId</label>
                        <input type="checkbox" name="parliamentperiod[]" value="@parliamentPeriod.ParliamentPeriodId"/>
                    </li>
                }
                </ul>
        </fieldset>

        <label for="Description" class="grid_2">
            Beskrivelse</label>
        <textarea class="grid_8" cols="50" rows="5" name="Description"></textarea>
        <div class="clear">
        </div>
        <div class="space">
        </div>
        <label for="Education" class="grid_2">
            Utdanning</label>
        <textarea class="grid_8" cols="50" rows="5" name="Education"></textarea>
        <div class="clear">
        </div>
        <div class="space">
        </div>
        <fieldset>
            <legend>Sosiale medier</legend>
            @foreach (SocialConnection sosialeMedier in socialConnectionModel.GetSocialConnections())
            {
                <label for="sosialemedier[]" class="grid_1">@sosialeMedier.Name</label>
                <input type="checkbox" name="sosialemedier[]" id="@sosialeMedier.Name" value="@sosialeMedier.UserName" class="grid_1"/> 
                <label for="sm_username[]" class="grid_2">@sosialeMedier.FormFieldName</label>
                <input type="text" name="sm_username[]" class="grid_3" />
                    
                <div class="clear">
                </div>
                <div class="space">
                </div>
    
            }
        </fieldset>
    </div>
    <fieldset id="picturearea" class="grid_4">
        <legend>Bilde</legend>
        <div>
            <input type="file" name="pic" />
        </div>
    </fieldset>
    
    <!-- Form area -->
    <fieldset id="countyarea" class="grid_15">
        <legend>Fylke</legend>
        <table class="grid_15">
            <thead class="grid_15">
                <tr>
                    <th class="grid_5" style="text-align: center;">Fylke</th>
                    <th class="grid_3" style="text-align: center;">Nominasjonsplass</th>
                    <th class="grid_2" style="text-align: center;">Valgår</th>
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody id="candidateList" class="grid_15">
                <tr class="newrow" id="addElectionData" >
                    <td class="grid_5">
                        <select name="addCounty" class="grid_3">
                            @{
                                foreach (County county in countyModels.GetCounties())
                                {
                                    <option value="@county.CountyId">@county.CountyName</option>
                                }
                            }
                        </select>
                    </td>
                    <td class="grid_3"><input type="text" name="addPosition" class="grid_1" /></td>
                    <td class="grid_2">
                        @{
                            string electionYear = DateTime.Today.Year.ToString();
                            if ((int)Session["Year"] >0)
                            {
                                electionYear = Session["Year"].ToString();
                            }
                        }
                        <input type="text" name="addElectionYear" value="@electionYear" class="grid_1" />
                    </td>

                    <td class="grid_1"><input type="submit" value="Legg til" /></td>
                    <td class="grid_1"><input type="reset" value="Tøm" /></td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    </form>
</fieldset>
