﻿@model Candidate
@using ElectionCandidates.Classes
@using ElectionCandidates.Models
@using ElectionCandidates.Models.DataModels


@{
    ParliamentDataModel parliamentDataModel = new ParliamentDataModel();
    Model.ParliamentPeriods = parliamentDataModel.GetParliamentPeriodsForCandidate(Model.CandidateId);
    ViewBag.Title = "Details";

    Gender gender = new Gender
        {
            GenderId = Model.GenderId,
            GenderName = Model.GenderName
        };


    Parti parti = new Parti
        {
            Code = Model.PoliticalPartyCode,
            Name = Model.PoliticalParty
        };

    
    List<SocialConnection> socialConnections = Model.SocialConnections;
    
    
}

@{
    if (@Model.Picture != null)
    {
        <div style="float: left; display: table; padding-right: 10px; height: 100%">
            <img src="/Content/uploads/@Model.PoliticalPartyCode/@Model.County/@Model.Picture.Replace("_org", "_161x240")" alt="@Model.FirstName @Model.LastName" style="border: 1px solid #333;">
            
    
        </div>
    }
    DateTime today = DateTime.Today;
    string birthDate = string.Empty;
    int age = 0;
    if (Model.BirthDate != null)
    {
        age = today.Year - Model.BirthDate.Value.Year;
        if (Model.BirthDate > today.AddYears(-age))
        {
            age--;
        }

        birthDate = Model.BirthDate.Value.ToShortDateString();
        
        
    }
    
}
<div style="display: table; height: 100%;">
<h2>@Model.FirstName&nbsp;@Model.LastName</h2>
<span id="age">Alder: @age</span>
<span id="born">(Født: @birthDate)</span><br />
<span id="gender">Kjønn: @gender.GenderName</span><br />
<span id="homecity">Bosted: @Model.Municipality</span><br />
<span id="politicalparty">Politisk Parti: @Model.PoliticalParty (@Model.PoliticalPartyCode)</span><br />
<span id="occupation">Yrke: @Model.Profession</span><br />
<span id="education">Utdanning: @Model.Education</span><br />
<span id="description">Beskrivelse: @Model.Description</span><br />

    @{
        if (socialConnections != null)
        {
            foreach (SocialConnection socialConnection in socialConnections)
            {
                <span id="SocialMedia"><strong>@socialConnection.Name</strong></span>
                <span id="SocialMediaUsername">: @socialConnection.UserName</span>
                <br/>
            }
        }
    }

    @{
        if (@Model.Counties != null)
        {
            foreach (CountyRepresentant county in @Model.Counties)
            {
                <span>@county.CountyName</span>
            }
        }
    }
    
    @{
        if (@Model.ParliamentPeriods != null)
        {
            <span id="parliamentPeriods">Stortingsperioder:
                
                @foreach (ParliamentPeriod parliamentPeriod in Model.ParliamentPeriods)
                {
                    <span>@parliamentPeriod.ParliamentPeriodId</span>  <br/>
                }
            
            </span><br/>
            }
    }
    
    <a href="/Candidate/Edit/@Model.CandidateId">Endre</a>&nbsp;&nbsp;
    <a href="/Candidate/ListCandidates">Tilbake</a>
</div>
