﻿@model CandidateModel
@using ElectionCandidates.Classes;
@using ElectionCandidates.Models;
@using ElectionCandidates.Models.DataModels;
@{
    ViewBag.Title = "Edit";

    var candidateId = Model.Candidate.CandidateId;
    
    ParliamentDataModel parliamentDataModel = new ParliamentDataModel();
    
}
<fieldset class="container_16">
    <form method="post" action="/Candidate/Edit/@candidateId" enctype="multipart/form-data">
        <legend>Edit</legend>
        <div id="formarea" class="grid_10">
            <label for="Firstname" class="grid_2">Fornavn:</label>
            <input name="Firstname" class="grid_5" value="@Model.Candidate.FirstName" />
            
            <div class="clear"></div>
            <div class="space"></div>
            <label for="Lastname" class="grid_2">Etternavn:</label>
            <input name="Lastname" class="grid_5" value="@Model.Candidate.LastName" />
            
            <div class="clear"></div>
            <div class="space"></div>
            <label for="Email" class="grid_2">E-post:</label>
            <input name="Email" class="grid_5" value="@Model.Candidate.Email" />

            <div class="clear"></div>
            <div class="space"></div>
            <label for="BirthDate" class="grid_2">Fødselsdato:</label>
            @{
                var birthDate = string.Empty;
                if (Model.Candidate.BirthDate != null)
                {
                    birthDate = Model.Candidate.BirthDate.Value.ToShortDateString();
                }
            }
            <input name="BirthDate" class="grid_5" value="@birthDate" />
            
            <div class="clear"></div>
            <div class="space"></div>
            <label for="Age" class="grid_2">Alder:</label>
            <input name="Age" class="grid_5" value="@Model.Candidate.Age" />
            
            <div class="clear"></div>
            <div class="space"></div>
            <label for="HomeCity" class="grid_2">Hjemby:</label>
            <input name="HomeCity" class="grid_5" value="@Model.Candidate.HomeCity" />
            

            <div class="clear"></div>
            <div class="space"></div>
            <label for="Gender" class="grid_2">Kjønn:</label>
            <select name="Gender" class="grid_3">
                @foreach (Gender gender in @Model.Genders)
                {
                    if (@Model.Candidate.GenderId == @gender.GenderId)
                    {
                        <option selected="selected" value="@gender.GenderId">@gender.GenderName</option>
                    }
                    else
                    {
                        <option value="@gender.GenderId">@gender.GenderName</option>
                    }

                }
            </select>
            <div class="clear"></div>
            <div class="space"></div>
            <label for="PoliticalParty" class="grid_2">Politisk parti:</label>
            <select name="PoliticalParty" class="grid_5">
                @foreach (Parti parti in @Model.Parties)
                {

                    if (@Model.Candidate.PoliticalPartyCode == @parti.Code)
                    {
                        <option selected="selected" value="@parti.Code">@parti.Name</option>
                    }
                    else
                    {
                        <option value="@parti.Code">@parti.Name</option>
                    }

                }
            </select>
            <div class="clear"></div>
            <div class="space"></div>
            <label for="Kommune" class="grid_2">Bostedskommune:</label>
            <select name="Kommune" class="grid_5">
                @{
                    KommuneModels kommuneModels = new KommuneModels();

                    foreach (Kommune kommune in kommuneModels.GetKommuner())
                    {
                        string krets = "";
                        if (@kommune.KretsId > 0)
                        {
                            krets = "(" + kommune.KretsId + ")";
                        }
                        if (@Model.Candidate.MunicipalityId == @kommune.KommuneId)
                        {
                            <option selected="selected" value="@kommune.KommuneId">@kommune.KommuneNavn @krets</option>
                        }
                        else
                        {
                            <option value="@kommune.KommuneId">@kommune.KommuneNavn @krets</option>
                        }

                    }
                }
            </select>
            
            <div class="clear"></div>
            <div class="space"></div>
            <label for="Professions" class="grid_2">Yrke</label>
            <select name="Professions" class="grid_5">
                @foreach (Profession profession in @Model.Professions)
                {

                    if (@Model.Candidate.ProfessionId == @profession.ProfessionId)
                    {
                        <option value="@profession.ProfessionId" selected="selected">@profession.ProfessionName</option>
                    }
                    else
                    {
                        <option value="@profession.ProfessionId">@profession.ProfessionName</option>
                    }

                }
            </select>
            <div class="clear"></div>
            <div class="space"></div>
            <fieldset>
            <legend>Stortingsperioder</legend>
            <ul>
                @foreach (ParliamentPeriod parliamentPeriod in parliamentDataModel.GetParliamentPeriods())
                {
                    
                    ParliamentPeriod period = parliamentPeriod;

                    <li>
                        @if (Model.ParliamentPeriods.Any())
                        {
                            var foo = (from pp in Model.ParliamentPeriods where period.ParliamentPeriodId == pp.ParliamentPeriodId select pp).ToList();
                            
                            if (foo.Count > 0)
                            {
                            <input type="checkbox" name="parliamentperiod[]" value="@parliamentPeriod.ParliamentPeriodId" checked="checked"/>
                            }
                            else
                            {
                                <input type="checkbox" name="parliamentperiod[]" value="@parliamentPeriod.ParliamentPeriodId"/>
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="parliamentperiod[]" value="@parliamentPeriod.ParliamentPeriodId"/>
                        
                        }
                    <label>Stortingsperiode @parliamentPeriod.ParliamentPeriodId</label>
                    </li>
                }
                    
                </ul>
        </fieldset>
            <label for="Description" class="grid_2">Beskrivelse</label>
            <textarea class="grid_8" cols="50" rows="5" name="Description">@Model.Candidate.Description</textarea>
            <div class="clear"></div>
            <div class="space"></div>
            <label for="Education" class="grid_2">Utdanning</label>
            <textarea class="grid_8" cols="50" rows="5" name="Education">@Model.Candidate.Education</textarea>
            <div class="clear"></div>
            <div class="space"></div>
            
            <!-- PARLIAMENT PERIODS -->

            <fieldset>
                <legend>Sosiale medier</legend>

                @foreach (SocialConnection sosialeMedier in @Model.SocialConnections)
                {
                    SocialConnection selectedConnections = this.Model.Candidate.SocialConnections != null ? this.Model.Candidate.SocialConnections.Find(s => s.Id == sosialeMedier.Id) : null;
                    string userName = string.Empty;
                    
                    if (selectedConnections != null)
                    {
                        userName = selectedConnections.UserName;
                    }
                    
                    if (selectedConnections != null && selectedConnections.Id == sosialeMedier.Id)
                    {
                        <label for="sosialemedier[]" class="grid_1">@sosialeMedier.Name</label>
                        <input type="checkbox" name="sosialemedier[]" id="@sosialeMedier.Name" checked="checked" value="@sosialeMedier.Id" class="grid_1" /> 
                        <label for="sm_username[]" class="grid_2">@sosialeMedier.FormFieldName</label>
                        <input name="sm_username[]" type="text" value="@userName" class="grid_3"/>

                    }
                    else
                    {
                       
                        <label for="sosialemedier[]" class="grid_1">@sosialeMedier.Name</label>
                        <input type="checkbox" name="sosialemedier[]" id="@sosialeMedier.Name" value="@sosialeMedier.Id" class="grid_1"/> 
                        <label for="sm_username[]" class="grid_2">@sosialeMedier.FormFieldName</label>
                        <input type="text" name="sm_username[]" class="grid_3" />
                    }
    
                    <div class="clear">
                    </div>
                    <div class="space">
                    </div>
                }

            </fieldset>
        </div>
        <fieldset id="picturearea" class="grid_4">
            <legend>Bilde</legend>
            @{
                string path = @"/Content/uploads/" + @Model.Candidate.PoliticalPartyCode + @"/" + @Model.Candidate.County;
                if (@Model.Candidate.Picture != null)
                {
                    <img src= "@path/@Model.Candidate.Picture.Replace("_org", "_161x240")" alt="/Content/uploads/@Model.Candidate.Picture" />
                    <input type="hidden" name="oldPicture" value="@Model.Candidate.Picture" />
                }
            }
            <div>
                <input type="file" name="pic" />
            </div>
        </fieldset>
        <div class="clear"></div>
        <div class="space"></div>
        <div class="grid_16">
            <input type="submit" value="Endre" />&nbsp;&nbsp;
            <input type="reset" value="Tøm" />
        </div>
    </form>
    
    
    <!-- Form area -->
    <fieldset id="countyarea" class="grid_15">
        <legend>Fylke</legend>
        <table class="grid_15">
            <thead>
                <tr>
                    <th class="grid_5">Fylke</th>
                    <th class="grid_2">Nominasjonsplass</th>
                    <th class="grid_2">Valgår</th>
                    <th class="grid_4" colspan="2">
                        <a id="addNomination" href="/Candidate/AddElectionNomination/@Model.Candidate.CandidateId">
                            Legg til Nominasjon</a>
                    </th>
                </tr>
            </thead>
            <tbody id="candidateList">
                @{
                    string rowEdit = Model.Candidate.CandidateId.ToString();
                }
                <tr class="addrow" id="@rowEdit">
                    @{
                        string formAddCandidateElectionData = "AddElectionData" + Model.Candidate.CandidateId;
                        string formAddCandidateElectionDataName = "form" + Model.Candidate.CandidateId;
                        string formHiddenCandidateId = "addCandidateId" + Model.Candidate.CandidateId;
                        string formFylke = "addcounty" + Model.Candidate.CandidateId;
                        string formPosition = "addposition" + Model.Candidate.CandidateId;
                        string formElectionYear = "addelectionYear" + Model.Candidate.CandidateId;
                    }
                    <td colspan="4">
                        <form action="/Candidate/AddElectionData/@Model.Candidate.CandidateId" 
                              method="post" 
                              id="@formAddCandidateElectionData" 
                              class="AddElectionData" 
                              name="@formAddCandidateElectionDataName">
                            

                            <input type="hidden" name="@formHiddenCandidateId" value="@Model.Candidate.CandidateId"/>
                            <table>
                                <tr>
                                    <td class="grid_6">
                                        <select name="@formFylke" class="grid_4">
                                            @{
                                                CountyModels countyModels = new CountyModels();

                                                foreach (County county in countyModels.GetCounties())
                                                {
                                                    <option value="@county.CountyId">@county.CountyName</option>

                                                }
                                            }
                                        </select>
                                    </td>
                                    <td class="grid_2">
                                        <input type="text" name="@formPosition"class="grid_1"/>
                                    </td>
                                    <td class="grid_2">
                                        <input type="text" name="@formElectionYear" class="grid_1"/>
                                    </td>
                                    <td colspan="2" class="grid_3">
                                        <input type="submit" value="Legg til" />&nbsp;<input type="reset" value="Lukk" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </td>
                </tr>
                @{
                    foreach (CountyRepresentant countyRepresentant in countyModels.GetRepresentantCounties(Model.Candidate.CandidateId))
                    {
                        formHiddenCandidateId = "representantCandidateId" + Model.Candidate.CandidateId;
                        string editId = "edit" + countyRepresentant.ElectionYear;
                        string deleteId = "delete" + countyRepresentant.ElectionYear;
                        formFylke = "county" + countyRepresentant.ElectionYear;
                        formPosition = "position" + countyRepresentant.ElectionYear;
                        formElectionYear = "electionYear" + countyRepresentant.ElectionYear;
                        rowEdit = countyRepresentant.ElectionYear.ToString();
                    <tr>
                        <td class="grid_5">
                            @countyRepresentant.CountyName
                        </td>
                        <td class="grid_2">
                            @countyRepresentant.CountyPosition
                        </td>
                        <td class="grid_2">
                            @countyRepresentant.ElectionYear
                        </td>
                        <td class="grid_2">
                            <a href="/Candidate/EditElection/@Model.Candidate.CandidateId?ElectionYear=@countyRepresentant.ElectionYear" 
                               id="@editId" rel="@rowEdit" class="editCandidate">
                                Endre</a>
                        </td>
                        <td class="grid_2">
                            <a href="/Candidate/DeleteElection/@Model.Candidate.CandidateId?ElectionYear=@countyRepresentant.ElectionYear" 
                            id="@deleteId" rel="@rowEdit" class="deleteCandidate">
                                Slette</a>
                        </td>
                    </tr>
                    
                    <tr class="editrow" id="@rowEdit">
                        @{
                        string formChangeCandidateElectionData = "ChangeElectionData" + countyRepresentant.ElectionYear;
                        string formChangeCandidateElectionDataName = "form" + countyRepresentant.ElectionYear;
                        string formHiddenCandidateYearId = "year" + countyRepresentant.ElectionYear;
                        
                        
                        }
                        <td colspan="4">
                        <form action="/Candidate/ChangeElectionData/@Model.Candidate.CandidateId?electionYear=@countyRepresentant.ElectionYear" 
                              method="post" 
                              id="@formChangeCandidateElectionData" 
                              class="ChangeElectionData" 
                              name="@formChangeCandidateElectionDataName">
                            <input type="hidden" name="@formHiddenCandidateId" value="@Model.Candidate.CandidateId"/>
                            <input type="hidden" name="@formHiddenCandidateYearId" value="@countyRepresentant.ElectionYear"/>
                            <table>
                            <tr>
                                <td class="grid_6">
                                    <select name="@formFylke" class="grid_4">
                                        @{
                        foreach (County county in countyModels.GetCounties())
                        {
                                                <option value="@county.CountyId">@county.CountyName</option>

                        }
                                        }
                                    </select>
                                </td>
                                <td class="grid_2">
                                    <input type="text" name="@formPosition" value="@countyRepresentant.CountyPosition" class="grid_1"/>
                                </td>
                                <td class="grid_2">
                                    <input type="text" name="@formElectionYear" value="@countyRepresentant.ElectionYear" class="grid_1"/>
                                </td>
                                <td colspan="2" class="grid_3">
                                    <input  type="submit" value="Endre" />
                                    &nbsp;
                                    <input  type="reset" value="Tøm" />
                                </td>
                            </tr>
                            </table>
                        </form>
                        </td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </fieldset>
</fieldset>
