﻿@model List<Election>
@using ElectionCandidates.Classes
       
@{
    ViewBag.Title = "List";
}

<h2>Valg</h2>
<table>
    <thead>
        <tr>
            <th>År</th>
            <th>Valg</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </thead>
    <tbody>

@{
    foreach (Election election in @Model)
    {
        <tr>
            <td>@election.ElectionYear</td>
            <td>@election.ElectionName</td>
            <td><a href="/Candidate/ListCandidates/@election.ElectionYear">Velg kandidater</a></td>
            <td><a href="/Candidate/SelectParties/@election.ElectionYear">Koble partier til valg</a></td>
        </tr>
    }
}

    </tbody>
</table>        
