﻿@model List<Candidate>

@using ElectionCandidates.Classes
@using ElectionCandidates.Models

@{
    ViewBag.Title = "Index";

    string urlId = (string) Url.RequestContext.RouteData.Values["id"];

    if (Session["Year"] == null)
    {
        
    }

    var lastCountyPosition = 1;
    
}


<h2>Valgrepresentanter</h2>
<select name="Filter" id="PartiFilter">
    <option value="">Filtrer på partier</option>
    @{
        PartiModels partiModels = new PartiModels();
        List<Parti> partier = partiModels.GetParties((int)Session["Year"]);

        foreach (Parti parti in partier)
        {
            if (parti.Code == urlId)
            {
                <option selected="selected" value="@parti.Code">@parti.Name</option>
            }
            else
            {
                <option value="@parti.Code">@parti.Name</option>
            }

        }
    }
</select>
<br/>
<select name="Filter" id="FylkeFilter">
    <option value="">Filtrer på Fylke</option>
    @{
        CountyModels countyModels = new CountyModels();
        List<County> myCounties = countyModels.GetCounties();

        foreach (County counties in myCounties)
        {
            <option value="@counties.CountyId">@counties.CountyName</option>
        }
    }
</select>

<div>
    <span>Totalt antall representanter: </span>
    <span>@ViewBag.TotalCandidates</span>
    <span>Av disse er <span>@ViewBag.TotalParliamentMembers</span> stortingsrepresentanter nå.</span>
</div>

<table>
<thead>
<tr>
    <th style="width: 200px;">Navn</th>
    <th style="width: 200px;">Parti</th>
    <th style="width: 200px;">Fylke</th>
    <th style="width: 200px;">Fylkesplass</th>
    <th style="width: 100px;">Bilde</th>
    <th colspan="3"><a href="/Candidate/Create">Legg til representant</a></th>
</tr>
</thead>
<tbody>
@{
    foreach (Candidate representant in Model)
    {
        var repid = "rep" + representant.CandidateId;
        var dialog = "dialog" + representant.CandidateId;
        var slette = "Slette " + representant.FirstName + " " + representant.LastName;

        var birthdate = DateTime.Today.Date;
        if (representant.BirthDate != null)
        {
            birthdate = representant.BirthDate.Value.Date;
        }

        var partyCode = representant.PoliticalPartyCode;
        if (representant.PoliticalPartyCode == "A")
        {
            partyCode = "Ap";
        }
        
        <tr style="color:@(birthdate.Year == 1993 || birthdate.Year == DateTime.Today.Year ? "red" : "#333")">
            <td>@representant.FirstName @representant.LastName</td>
            <td>@representant.PoliticalParty (@partyCode)</td>
            <td>@representant.County</td>
            <td style="color:@(representant.CountyPosition == lastCountyPosition ? "orange" : "#333")">@representant.CountyPosition</td>
            <td>
                @{
                    if (representant.Picture != null)
                    {
                        if (representant.Picture.Contains("_"))
                        {
                            string serverPath = Server.MapPath(Url.Content("~/Content/uploads/"));
                            string[] fileparts = representant.Picture.Split('_');
                            string path = serverPath + fileparts[0] + @"\" + fileparts[1] + @"\" + representant.Picture;
                            FileInfo fileInfo = new FileInfo(path);
                            if (!fileInfo.Exists)
                            {
                                <span>Bilde mangler!</span>
                            }
                        }
                        else
                        {
                            <span>Bilde manger, eller har feil navn</span>
                        }
                    }
                }
                
            </td>
            <td><a href="/Candidate/Details/@representant.CandidateId" class="representantListe">Se på</a></td>
            <td><a href="/Candidate/Edit/@representant.CandidateId" class="representantListeEdit">Endre</a></td>
            <td><a href="/Candidate/Delete/@representant.CandidateId" id="@repid" rel="@dialog" title="@slette" class="representantListeDelete">Slette</a></td>
            <div style="display: none; text-align: center" id="@dialog" title="@slette">
                <p>Er du sikker du vil slette</p>
                <strong>@representant.FirstName&nbsp;@representant.LastName</strong>
            </div>
        </tr>
        }
    }
</tbody>
<tfoot>
<tr>
    <th colspan="4">
        <a href="/Candidate/GenerateDataFile">Generer Datafil</a>
    </th>
</tr>
</tfoot>
</table>