﻿@model List<Candidate>

@using ElectionCandidates.Classes
@using ElectionCandidates.Models

@{
    ViewBag.Title = "Index";
    
}

<h2>Valgrepresentanter</h2>
<select name="Filter" id="PartiFilter">
    <option value="">Filtrer på partier</option>
    @{
        PartiModels partiModels = new PartiModels();
        List<Parti> partier = partiModels.GetParties();
        
        foreach (Parti parti in partier)
        {
            <option value="@parti.Code">@parti.Name</option>
        }
    }
</select>
<br/>
<select name="Filter" id="FylkeFilter">
    <option value="">Filtrer på Fylke</option>
    @{
        CountyModels countyModels = new CountyModels();
        List<County> myCounties = countyModels.GetCounties();
        
        foreach (County counties in myCounties)
        {
            <option value="@counties.CountyId">@counties.CountyName</option>
        }
    }
</select>
<br/>
<table style="width:700px;">
<thead>
<tr>
<th style="width:200px;">Navn</th>
<th style="width:200px;">Parti</th>
    <th colspan="3" style="width:200px; text-align: right;">
        <a href="/Candidate/Create">Legg til ny kandidat</a>
    </th>
</tr>
</thead>
<tbody>
@{
    foreach (Candidate representant in Model)
    {
        var repid = "rep" + representant.CandidateId;
        var dialog = "dialog" + representant.CandidateId;
        var slette = "Slette " + representant.FirstName + " " + representant.LastName;
        <tr>
            <td style="width:200px;">@representant.FirstName @representant.LastName</td>
            <td style="width:200px;">@representant.PoliticalParty (@representant.PoliticalPartyCode)</td>
            <td style="width:100px;"><a href="/Candidate/Details/@representant.CandidateId" class="representantListe">Se på</a></td>
            <td style="width:100px;"><a href="/Candidate/Edit/@representant.CandidateId" class="representantListeEdit">Endre</a></td>
            <td style="width:100px;"><a href="/Candidate/Delete/@representant.CandidateId" id="@repid" rel="@dialog" title="@slette" class="representantListeDelete">Slette</a></td>
            <div style="display: none; text-align: center" id="@dialog" title="@slette">
                <p>Er du sikker du vil slette</p>
                <strong>@representant.FirstName&nbsp;@representant.LastName</strong>
            </div>
        </tr>
    }
}
</tbody>
<tfoot>
<tr>
    <th colspan="6">
        <a href="/Candidate/GenerateDataFile">Generer Datafil</a>
    </th>
</tr>
</tfoot>
</table>
<br/>