﻿@model List<Parti>
@using ElectionCandidates.Classes;
@using ElectionCandidates.Models;
@{
    List<Parti> parties = ElectionModels.GetMappedPoliticalParties(@ViewBag.ElectionYear);
}
<form method="POST" action="/Candidate/SelectParties/@ViewBag.ElectionYear">
    <table>
        <thead>
            <tr>
                <td>Politisk parti</td>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            @{
                if (parties.Any())
                {
                    foreach (Parti parti in parties)
                    {
                        <tr>
                            <td>@parti.Name (@parti.Code)</td>
                            <td>&nbsp;</td>
                        </tr>
                    }
                    <tr><td colspan="2"><hr style="border: 1px solid #333333; width: 100%"/></td></tr>
                }
            }
            @{
                foreach (Parti parti in @Model)
                {
                    <tr>
                        <td>@parti.Name (@parti.Code)</td>
                        <td>
                            
                            @{
                                bool hasMatches = parties.Any(p => p.Code == parti.Code);

                                if (hasMatches)
                                {
                                    <input type="checkbox" checked="checked" name="party[]" value="@parti.Code"/>
                                }
                                else
                                {
                                    <input type="checkbox" name="party[]" value="@parti.Code"/>
                                }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" style="text-align: right;"><input type="submit" value="Legg til"/></td>
            </tr>
        </tfoot>
    </table>
</form>